data/raw/1_50-100-geanonimiseerde-15'-verbruiksprofielen-elektriciteit-legende.xlsx
data/raw/1_50-aanlevering-dmk-e-kwartierwaarden.csv
data/raw/READING_2016_FIXED.CSV
data/raw/master-table-meters.csv
data/raw/READING_2016.CSV
data/raw/READING_2021.CSV